<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css">
</head>

<body>
  <h1 id="header">Web SDK Example (Digital Wallets)</h1>

  <form action="/" id="my-sample-form" method="post">
    <label for="amount">Amount</label>
    <input id="amount" type="text">

      <div id="payment-button-container"></div>
    </form>

    <label for="output" id="output-label">OUTPUT:</label>
    <pre id="output"></pre>

    <script src="{{sdk_host}}/{{sdk_version}}/js/client.min.js"></script>
    <script src="{{sdk_host}}/{{sdk_version}}/js/digital-wallets.min.js"></script>
    <script src="app.js"></script>
  </body>

</html>
